<!DOCTYPE html>
<html xmlsn="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
    <title>Tô Com Fome - Página Inicial</title>
</head>
<body>
    <div th:replace="fragments :: navbar" />

        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/food.svg" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Avisa pras cozinheiras do RU que você vai almoçar!</h1>
                <p class="masthead-subheading font-weight-light mb-0">Ajude a minimizar o disperdicio de comida</p>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <a class="btn btn-outline-light mx-1" href="/index/administrativo">Painel administrativo</a>
                <br>
                <form method="GET" action="refeicoes/solicitar">
                    <button type="submit" class="btn btn-outline-light mx-1">Solicitar Refeição</button>
                </form>
            </div>
        </header>

        <!-- Melhore isso aqui -->

        <!--
        <form method="get" action="/refeicoes/cancelar">
            <button type="submit">Cancelar Solicitação</button>
        </form>-->
        <!-- Acho que não precisa ser form -->
    <div class="copyright py-5 text-center text-white">
        <div class="container"><small>UFERSA 2020</small></div>
    </div>
</body>
</html>