<!DOCTYPE html>
<html xmlsn="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To com Fome - Pagina Inicial</title>
</head>
<body>
    <h1>Avisa pras cozinheiras do RU que você vai almoçar!</h1>
    <p>Ajude a minimizar o disperdicio de comida</p>
    <a href="/index/administrativo">Painel Administrativo</a>

    <!-- Melhore isso aqui -->
    <form method="get" action="refeicoes/solicitar">
        <button type="submit">Solicitar Refeição</button>
    </form>
    <!--
    <form method="get" action="/refeicoes/cancelar">
        <button type="submit">Cancelar Solicitação</button>
    </form>-->
    <!-- Acho que não precisa ser form -->

</body>
</html>